:root {
    --primary:#4765c0;
    --bg : #010101;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--bg);
    /* background-image: url(/image/background.jpg); */
    background-repeat: no-repeat;
    background-size: 1000px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgb(254, 251, 252);
    border-bottom: 1px solid #eaebed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 4rem;
    font-weight: 500;
    color: #4765c0;
}

.navbar .navbar-nav a {
    color: rgb(5, 8, 11);
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;


}